[run]
source = update_server_page,changelog2html,dudiff2html,update_ports_html
cover_pylib = False

[report]
exclude_lines =
    nocover:
    except ImportError:
    except NameError:
    if debian_package:
    if __name__ == '__main__':
