[run]
source = pov_server_page

[report]
exclude_lines =
    pragma: PY2
    nocover:
    except ImportError:
    except NameError:
    if debian_package:
    if __name__ == '__main__':
    pass

[paths]
source =
    src/pov_server_page/
    .tox/*/lib/python*/site-packages/pov_server_page/
