Tests: py2
Depends: pov-server-page-py2, python-pytest, python-mock
Restrictions: allow-stderr
# du-diff --version prints to stderr on Python 2, and also I use set -x

Tests: py3
Depends: pov-server-page-py3, python3-pytest, python3-mock
Restrictions: allow-stderr
# I use set -x
