h1 + table {
  margin-top: 2em;
}
.ssh-host-keys th, .ssh-host-keys td {
  font-family: monospace;
  font-weight: normal;
  text-align: left;
  vertical-align: top;
  padding-right: 1em;
  padding-bottom: 1em;
}
