Source: pov-server-page
Section: admin
Priority: extra
Maintainer: Marius Gedminas <marius@gedmin.as>
Build-Depends: debhelper (>= 8.0.0), python-docutils, python-nose, python-mako, python-mock
Standards-Version: 3.9.6
Homepage: https://github.com/ProgrammersOfVilnius/pov-server-page

Package: pov-server-page
Architecture: all
Depends: apache2, libapache2-mod-wsgi | libapache2-mod-wsgi-py3, collectd-core,
 perl, librrds-perl, libhtml-parser-perl, python, python-mako, ${perl:Depends},
 ${misc:Depends}
Recommends: apache2-utils
Suggests: collectd
Description: password-protected Apache virtual host with server information
 * This is an unofficial package.
 .
 This package sets up an apache virtualhost for your fully-qualified hostname
 that shows:
   - contents of /root/Changelog
   - graphs for collectd
   - open TCP ports
   - SSH host key fingerprints
   - disk usage treemaps (if configured)
 .
 Some manual setup is required: see /usr/share/doc/pov-server-page/README.rst.
