Source: pov-server-page
Section: admin
Priority: optional
Maintainer: Marius Gedminas <marius@gedmin.as>
Build-Depends: debhelper (>=9), dh-python, python3-docutils,
 python-all, python-setuptools, python-pytest, python-mako, python-mock,
 python3-all, python3-setuptools, python3-pytest, python3-mako, python3-mock
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.5
Standards-Version: 3.9.6
Testsuite: autopkgtest
Homepage: https://github.com/ProgrammersOfVilnius/pov-server-page

Package: pov-server-page
Architecture: all
Depends: apache2, pov-server-page-py3 | pov-server-page-py2,
 collectd-core, net-tools,
 ${perl:Depends}, librrds-perl, libhtml-parser-perl, libcgi-pm-perl,
 ${misc:Depends}
Recommends: apache2-utils
Suggests: collectd
Breaks: pov-admin-tools (<< 0.16)
Replaces: pov-admin-tools (<< 0.16)
Description: password-protected Apache virtual host with server information
 * This is an unofficial package.
 .
 This package sets up an Apache virtual host for your fully-qualified hostname
 that shows:
   - contents of /root/Changelog
   - graphs for collectd
   - open TCP and UDP ports
   - SSH host key fingerprints
   - disk usage treemaps (if configured)
 .
 Some manual setup is required: see /usr/share/doc/pov-server-page/README.rst.

Package: pov-server-page-py2
Architecture: all
Depends: pov-server-page, libapache2-mod-wsgi, ${python:Depends}, ${misc:Depends}
Conflicts: pov-server-page-py3
Breaks: pov-server-page (<< 2.0.0)
Replaces: pov-server-page (<< 2.0.0)
Description: password-protected Apache virtual host with server information
 * This is an unofficial package.
 .
 This empty contains all the scripts for Python 2.

Package: pov-server-page-py3
Architecture: all
Depends: pov-server-page, libapache2-mod-wsgi-py3, ${python3:Depends}, ${misc:Depends}
Conflicts: pov-server-page-py2
Breaks: pov-server-page (<< 2.0.0)
Replaces: pov-server-page (<< 2.0.0)
Description: password-protected Apache virtual host with server information
 * This is an unofficial package.
 .
 This empty contains all the scripts for Python 3.
